<!DOCTYPE html>
<html>
<head>
	<title>rui barros web developer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-csp.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body ng-app="website" ng-controller="websiteCtrl">

<nav>
	<ul id='navigator' class="nav nav-pills navigator-box">
	  <li du-scrollspy="home"><a href="#home" du-smooth-scroll ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="aboutme"><a href="#aboutme" du-smooth-scroll ><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="experience"><a href="#experience" du-smooth-scroll ><span class="glyphicon glyphicon-road" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="education"><a href="#education" du-smooth-scroll ><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="projects"><a href="#projects" du-smooth-scroll ><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="hobbies"><a href="#hobbies" du-smooth-scroll ><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></a></li>
	  <li du-scrollspy="contacts"><a href="#contacts" du-smooth-scroll ><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></a></li>
	</ul>
</nav>


<div id='container' class="container-fluid" >
	<div id='home' class="row background-fixed" style="background-image: url('img/porto.jpg'); height:100vh;">
	
		<div class="col-md-offset-4 col-md-4" id='home_box' style="height:100%;">

			<div style="display: table; position: absolute; height: 100%; width: 100%;">
				<div style="display: table-cell; vertical-align: middle;">
					
					<div class="main-box">
						<img class="img-fit" src="img/ruibarros.png">
						<br>
						<p>Hello! My name is</p>
						<h1>RUI BARROS</h1>
						<p>and I am a</p>
						<h2>WEB DEVELOPER</h2>
						<h3> <a href="#aboutme" du-smooth-scroll>  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> </a> </h3>
					</div>
				</div>

			</div>

		</div>
			
	</div>


	<div id="aboutme" class="row background-fixed" style=" background-color: #FFFFFF;">
		<div class="col-md-6 col-md-offset-3">
			<div style="height:20vh;"></div>
			
			<h3>About me</h3>

			I am a self-made web developer who was born in the city of Porto in the Northern Portugal. My interest in code started when I was in the university taking master degree in Structural Engineering. Since then I have been acquiring knowledge in web development, taking <a href="#education" du-smooth-scroll> courses </a> and applying the knowledge in some <a href="#projects" du-smooth-scroll>projects</a>.
			
			<div style="height:20vh;"></div>

		</div>
	</div>

	<div id="map" class="row background-fixed" style="height:40vh;">
		<div id="map-canvas" style="height: 100%;"></div>
	</div>

	<div id="experience" class="row background-fixed" style="background-color: #EDEDED;">
		<div class="col-md-12">
			<div style="height: 100px;"></div>
			<h1 class="general-title">Professional Experience</h1>
			<div style="height: 100px;"></div>
		</div>
		<div class="col-md-offset-3 col-md-6">
			<div class="row">
				<div class="col-md-12" ng-repeat="obj in experience" id='{{ obj.id }}'>
					<div class="row">
						<div class="col-md-4" align="center">
							<a href="{{ obj.link }}" target="_blank"> <img src="{{ obj.img }}" style="max-width:50%; max-height:50%;"> </a>
							<div style="height:25px;"></div>
						</div>
						<div class="col-md-8">
							<h4> {{ obj.position }} at <a href="{{ obj.link }}" target="_blank"> {{ obj.company }} </a> ({{ obj.period }}) </h4>
							<br>
							<div ng-repeat="loc in obj.locations" style="display:inline-block; padding-right: 5px;">
								<a href="#map" du-smooth-scroll><button class="btn btn-sm" ng-click="setMarkerPos(loc.lat, loc.lon, loc.place)"> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> {{ loc.place }}, {{ loc.city }} </button></a>
							</div>
							<br>
							<!-- <div ng-show="obj.shown_details" > -->
							<div uib-collapse="!obj.shown_details" >
								<p class="desc" ng-bind-html='obj.description'></p>
							</div>
							<br>
							<div>
								<button type="button" class="btn btn-sm btn-success" ng-click="obj.shown_details = !obj.shown_details">
								<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="!obj.shown_details" ></span>
								<span class="glyphicon glyphicon-minus" aria-hidden="true" ng-show="obj.shown_details"></span>
								Details
							</button>
							</div>
						</div>
						<!-- <div class="col-md-2"> -->
<!-- 							<button class="btn btn-sm btn-success" style="width:100%;" ng-show="!obj.shown_details" ng-click="invertShow($index)"> <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Details </button>
							<button class="btn btn-sm btn-success" style="width:100%;" ng-show="obj.shown_details" ng-click="invertShow($index)" > <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Details </button> -->


						<!-- </div> -->
						<div class="col-md-12" style="height:50px;">
							<hr>
						</div>
<!-- 						<div class="col-md-offset-3 col-md-6">
							<ul class="list-unstyled">
								<li> <b>Position: </b> {{ obj.position }} </li>
								<li> <b>Period: </b> {{ obj.period }} </li>
							</ul>
							<p> <b>Responsabilities:</b> {{ obj.responsabilities }} </p>
							<p> <b>Description:</b> {{ obj.description }} </p>

						</div> -->

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" align="center">
					<a href="#contacts" du-smooth-scroll>
						<div class="hire-box contact-box">
							<!-- <div style="height:25px;"></div> -->
							<h3>Your company</h3>
						</div>
					</a>
				</div>
				<div class="col-md-8">
					<h4> Looking for a candidate like me for your company? Just contact me!</h4>
				</div>
				
			</div>

		</div>
		<div class="col-md-12">
			<div style="height: 100px;"></div>
		</div>
		
	</div>

	<div id="education" class="row background-fixed" style="background-image: url('img/rui2.jpg');">
		<div class="col-md-8 col-md-offset-2 main-box">
<!-- 			<div style="height:30vh;">
				<div style="display: table; position: absolute; height: 100%; width: 100%;">
					<div style="display: table-cell; vertical-align: middle;">
						<h1 class="general-title">Education</h1>
					</div>
				</div>
			</div> -->

			<div style="height: 100px;"></div>
				<h1 class="general-title">Education</h1>
			<div style="height: 100px;"></div>

			<div class="row">

				<div class="col-md-4 project-box" ng-repeat="obj in education.studies" id='{{ obj.id }}'>
					<div class="background" style="background-color:  {{ obj.color }}; ">
						<h1> {{ obj.name }} </h1>
					</div>

					<div class="menu" align="center">
						<div style="height: 40%;"> </div>
						<p>
							{{ obj.date_started }} - {{ obj.date_finished }}
						</p>
						<p>
							<b>Course: </b> {{ obj.course }}
						</p>

						<p> <button class="btn btn-primary btn-sm" style="width: 70%;" ng-click="open(obj.id, 'description')"><span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> Description </button></p>
						
						<p> <a href="#map" du-smooth-scroll > <button class="btn btn-primary btn-sm" style="width: 70%;" ng-click="setMarkerPos(obj.location.lat, obj.location.lon, obj.location.place)"> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> {{ obj.location.place }} </button> </a></p>

						<p> <a href="{{ obj.link }}" target="_blank"> <button class="btn btn-primary btn-sm" style="width: 70%;"> <span class="glyphicon glyphicon-globe" aria-hidden="true"> </span> Website </button> </a></p>

					</div>

					<div class="description" align="center">
						<h4>
							{{ obj.name }}
						</h4>
						<br>
						<p ng-bind-html='obj.details'></p>
						<div class="close-btn btn btn-sm btn-danger" ng-click="close(obj.id, 'description')"><b>x</b></div>
					</div>


				</div>


			</div>
<!-- 
			<div style="height:30vh;">
				<div style="display: table; position: absolute; height: 100%; width: 100%;">
					<div style="display: table-cell; vertical-align: middle;">
						<h1 class="general-title">Other courses</h1>
					</div>
				</div>
			</div> -->

			<div style="height: 100px;"></div>
				<h1 class="general-title">Other courses</h1>
			<div style="height: 100px;"></div>

			<div class="row">
<!-- 				<div class="col-md-4 project-box" ng-repeat="obj in education.online_courses" id='{{ obj.id }}'>
					<div class="background" style="background-color:  {{ obj.color }}; ">
						<h1> {{ obj.name }} </h1>
					</div>

					<div class="menu" align="center">
						<div style="height: 40%;"> </div>
						<p>
							{{ obj.year }}
						</p>

						<p> <div class="btn btn-primary btn-sm" style="width: 70%;" ng-click="open(obj.id, 'tech')"> <span> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Languages </div></p>

						<p> <div class="btn btn-primary btn-sm" style="width: 70%;" ng-click="open(obj.id, 'description')"> <span> <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> Description </div></p>

						<p> <a href="{{ obj.link }}" target="_blank"> <button class="btn btn-primary btn-sm" style="width: 70%;"> <span class="glyphicon glyphicon-globe" aria-hidden="true"> </span> Website </button> </a></p>

					</div>

					<div class="description" align="center">
						<h4>
							{{ obj.name }}
						</h4>
						<p>
							{{ obj.details }}
						</p>
						<div class="close-btn btn btn-sm btn-danger" ng-click="close(obj.id, 'description')"><b>x</b></div>
					</div>

					<div class="tech" align="center">
						<h4>
							{{ obj.name }}
						</h4>
						<p>
							<b>Technologies: </b>
							<ul class="no-bullets">
								<li ng-repeat="tech in obj.languages"> {{ tech }} </li>
							</ul>
						</p>
						<div class="close-btn btn btn-sm btn-danger" ng-click="close(obj.id, 'tech')"><b>x</b></div>
					</div>

				</div> -->

				<div class="col-md-12" ng-repeat="obj in education.online_courses">
					
					<div class="item-box" id='{{ obj.id }}'>
						<a href="{{ obj.link }}" target="_blank">
							<h3> {{ obj.name }} </h3>
					 	</a>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div id="projects" class="row background-fixed" style="background-color: #FFFFFF;">
		<!-- <div class="col-md-12" style="height: 20vh;"></div> -->

		<div class="col-md-12">
			<div style="height: 100px;"></div>
			<h1 class="general-title">Portfolio</h1>
			<div style="height: 100px;"></div>
		</div>

		<div class="col-md-8 col-md-offset-2">

			<div class="row">
				
				<div class="col-md-4 project-box" ng-repeat="obj in projects" id='{{ obj.id }}'>
					<div class="background" style="background-color:  {{ obj.color }}; ">
						<h1>
							{{ obj.name| uppercase }}
						</h1>
					</div>

					<div class="menu" align="center">

						<div style="height: 40%;"> </div>

						<p> <div class="btn btn-primary btn-sm" style="width: 50%;" ng-click="open(obj.id, 'description')"> <span> <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> Description </div></p>

						<p> <div class="btn btn-primary btn-sm" style="width: 50%;" ng-click="open(obj.id, 'tech')"> <span> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Technologies </div> </p>
						
						<p> <a href="{{ obj.github }}" target="_blank"> <button class="btn btn-primary btn-sm" style="width: 50%;"> <span class="glyphicon glyphicon-globe" aria-hidden="true"> </span> GitHub </button> </a> </p>
						
						<p> <a href="{{ obj.link }}" target="_blank"> <button class="btn btn-primary btn-sm" style="width: 50%;"> <span class="glyphicon glyphicon-play" aria-hidden="true"> </span> View App </button> </a> </p>
					</div>

					<div class="description" align="center">
						<h4>
							{{ obj.name }}
						</h4>
						<br>
						<p ng-bind-html='obj.details'></p>
						<div class="close-btn btn btn-sm btn-danger" ng-click="close(obj.id, 'description')"><b>x</b></div>
					</div>

					<div class="tech" align="center">
						<h4>
							{{ obj.name }}
						</h4>
						<p>
							<b>Technologies: </b>
							<ul class="no-bullets">
								<li ng-repeat="tech in obj.technologies"> {{ tech }} </li>
							</ul>
						</p>
						<div class="close-btn btn btn-sm btn-danger" ng-click="close(obj.id, 'tech')"><b>x</b></div>
					</div>

				</div>

			</div>


		</div>


		<div class="col-md-12" style="height: 20vh;" align="center"></div>

	</div>

	<div id="hobbies" class="row background-fixed" style="background-image: url('img/foot.jpg');">
		<div class="col-md-8 col-md-offset-2 main-box" style="height: 100%;">
			<div style="height: 100px;"></div>
				<h1 class="general-title">Hobbies</h1>
			<div style="height: 100px;"></div>

			<div class="row">
				<div class="col-md-12" ng-repeat="obj in hobbies">
					
					<div class="hobbie-box">
						<h3> {{ obj }} </h3>
					</div>
				</div>
			</div>

		</div>
			
		</div>
	</div>

	<div id="contacts" class="row background-fixed" style=" background-color: #FFFFFF;">
		<div class="col-md-12">
			<div style="height: 100px;"></div>
			<h1 class="general-title">Contacts</h1>
			<div style="height: 100px;"></div>
		</div>
		<div class="col-md-6 col-md-offset-3">

			<div class="row">
				<div ng-repeat="contact in contacts" class="col-md-3">
					<div class="contact-box" align="center">
						<a href="{{ contact.link }}" target="_blank"> <img  style="max-width:50%; max-height:50%;" src="{{ contact.img }}"> </a>
					</div>
					<div style="height:25px;"></div>
				</div>
			</div>
			
		</div>
		<div class="col-md-12">
			<div style="height: 200px;"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script> -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.7.1/angular-scroll.min.js"></script>
<script type="text/javascript" src="http://passy.github.io/angular-masonry/angular-masonry.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.1.2/enquire.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQl4_uBqK29kmTd1okpaLg-yP_5BYWYXg"> </script>

<script type="text/javascript" src="js/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68985521-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>