.main-box {
	padding-top: 50px;
    padding-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-box h1, .main-box h2, .main-box h3, .main-box h4, .main-box h5, .main-box h6, .main-box p, .main-box span  {
	color: #FFF;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 10px;
}

.main-box a:hover span {
	color: #000;
}

.background-fixed {
	background-size: cover;
	background-attachment: fixed;
}

.main-box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 120px;
}


.navigator-container {
	position: fixed;
	top: 25%;
	z-index: 1;
}